/*
    Arquivo para estilo do jogo.
*/

#container{
    min-width: 300px;
    max-width: 600px;

    margin: 20px auto;
    text-align: center;

    border: 1px solid black;

    padding-top: 20px;
}

#container img{
    width: 150px;
    height: 150px;

    border: 1px solid black;
    border-radius: 5px;
}

#container h1{
    font-size: 30px;
}

#container ul{
    list-style-type: none;
    padding: 10px;
}

#container ul li{
    margin-top: 25px;
}

#container a{
    border: 1px solid #000;
    font-size: 20px;
    
    padding: 10px 25px;

    text-decoration: none;
    text-transform: capitalize;
    font-style: bold;
    color: black;

    transition: 500ms;
}

#container a:hover{
    background-color: black;
    color: white;

    transition: 500ms;
}

table{
    margin: 10px auto;
    padding: 20px;
}

table td{
    border: 1px solid #000;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

table td:hover{
    background-color: #000;
    color: white;
    transition: 0.5s;
}

/*  
    Divs que são responsaveis pela 
    logica do jogo e seus possiveis
    estados.
*/
#escolha{
    visibility: visible;
    border: 1px solid black;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    visibility: visible;
}
#escolha p{
    width: 300px;
    margin: 10px auto;
}
#escolha button{
    padding: 10px;
    font-size: 15px;
    background-color: green;
    color:white;
    border: none;
    cursor: pointer;
    visibility: collapse;
}

#jogo{
    border: 1px solid #000;
    width: 300px;
    margin: 10px auto;
    padding-bottom: 10px;
    visibility: collapse;
}
#placar{
    background-color: green;
    color: white;
    text-align: left;
    padding: 5px;
}
#placar span{
    margin-left: 5px;
    margin-right: 25px;
}


#mensagem{
    border: 1px solid #000;
    width: 300px;
    margin: 10px auto;
    visibility: collapse;
}

button, .botao{
    padding: 10px;
    font-size: 15px;
    background-color: green;
    color:white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

input{
    font-size: 15px;
    padding: 5px;
}